        <div class="ticket-det-box {{TicketStatus}}">
            <p class="status-det">{{TicketStatus}}</p>
            <p class="status-ticket-num">#{{TicketNumber}}</p>
        </div>
        <div class="ticket-det-head">
            <h1>{{UserFirstName}} {{UserLastName}}</h1>
            <h2>{{AccountName}}</h2>
        </div>
        <!--<div class="ticket-tech-class">
        <div class="ticket-det-subject" style="color:#000000;text-shadow: none;margin: 0;">
            <h3>{{Subject}}</h3>
        </div>
        </div>-->